@using RunAndHikeStore.Common
@{
    this.ViewData["Title"] = "Run and Hike Store";
}
<hr />
<div class="text-center">
    <h1 style="font-size:50px;color:black" class="display-5">Welcome to MVC ShoesStore!</h1>
</div>
<hr />

<div class="card" style="background-color:white">
   <div class="row">
    <div class="col-md-8">
         <img src="~/images/940d803f-91b0-4cc9-8976-477835cf3778.webp" class="card-img-top img-thumbnail" alt="...">
           
    </div>
        <div class="col-md-4">
    <div class="card-body" style="margin-top:175px" >
        <h2 style="font-family:fantasy; color: black;font-size:100px" class="card-title display-4 mb-5">KICK THAT KEEP GOING </h2>
                <h3 style="font-size:75px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black" class="card-text display-4 mb-4">That gift that never goes out of style</h3>
        <a asp-area="Customer" asp-action="All" asp-controller="Product" class="btn-lg btn-primary mt-5">See our products!</a>
    </div>
    </div>
</div>
</div>
